{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        org.clojure/data.csv {:mvn/version "1.0.1"}
        clojure-csv/clojure-csv {:mvn/version "2.0.1"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        org.clojure/tools.namespace {:mvn/version "1.3.0"}
        org.clojure/tools.logging {:mvn/version "1.3.1"}
        org.clojure/tools.trace {:mvn/version "0.7.11"}
        org.clojure/tools.reader {:mvn/version "1.3.6"}
        org.clojure/java.jdbc {:mvn/version "0.6.1"}

        org.flatland/ordered {:mvn/version "1.15.10"} 
        ;; Other stuff
        cheshire/cheshire {:mvn/version "6.2.0"}
        ;; Keep Cheshire's binary formats on the same patched Jackson line.
        com.fasterxml.jackson.core/jackson-core {:mvn/version "2.21.5"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.21.5"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-smile {:mvn/version "2.21.5"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.21.5"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        com.stuartsierra/component {:mvn/version "0.3.1"}
        ;; Troublesome carmine... was using this for simulation stuff
        ;[com.taoensso/carmine "2.7.0" :exclusions [org.clojure/clojure]]
        ;; Updates; requires fixing index conflict between named-matrix and core.matrix
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"}
        ;[net.mikera/core.matrix "0.23.0"]
        net.mikera/core.matrix.stats {:mvn/version "0.7.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        ;; We should be able to switch back to this now that we aren't using storm
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        ;; Taking out storm cause yeah...
        ;[org.apache.storm/storm-core "0.9.2-incubating"]
        ;; Can't find bouncycastle trying to use this
        ;incanter {:mvn/version "1.9.3" :exclusions [org.clojure/clojure]}
        bigml/sampling {:mvn/version "3.2"}
        com.cognitect.aws/api {:mvn/version "0.8.838"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.398"}
        com.cognitect.aws/s3 {:mvn/version "825.2.1250.0"}
        ;; Modern Cognitect HTTP client uses the JDK client and removes the
        ;; vulnerable legacy Jetty 9 transport from the production graph.
        com.cognitect/http-client {:mvn/version "1.0.148"}

        org.postgresql/postgresql {:mvn/version "42.7.13"}
        ;; Enhanced connection pooling
        com.zaxxer/HikariCP {:mvn/version "5.0.1"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        ;clj-excel {:mvn/version "0.0.1"}
        ;[dk.ative/docjure {:mvn/version "1.13.0"]
        prismatic/plumbing {:mvn/version "0.6.0"}
        environ/environ {:mvn/version "1.2.0"}
        mount/mount {:mvn/version "0.1.17"}
        honeysql/honeysql {:mvn/version "1.0.461"}
        ;; Dev
        org.clojure/test.check {:mvn/version "1.1.1"}
        ;; Keep the reviewed dataset API line, but replace its old Nippy
        ;; compressor graph. Nippy 3.6 uses Aircompressor and no longer brings
        ;; the unpatched org.lz4/lz4-java coordinate into the runtime.
        ;; The worker uses in-memory dataset operations, not the spreadsheet
        ;; import/export path. Excluding POI removes its OOXML/parser closure
        ;; from the participant runtime without changing the used API.
        techascent/tech.ml.dataset {:mvn/version "6.104"
                                    :exclusions [com.taoensso/nippy
                                                 org.apache.poi/poi-ooxml]}
        com.taoensso/nippy {:mvn/version "3.6.0"}
        io.airlift/aircompressor {:mvn/version "2.0.3"}
        com.google.guava/guava {:mvn/version "32.0.0-android"}
        commons-io/commons-io {:mvn/version "2.22.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.34"}
        ch.qos.logback/logback-core {:mvn/version "1.5.34"}}
 :aliases {:dev 
           {:extra-paths ["dev" "test"]
            :extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                         criterium/criterium {:mvn/version "0.4.6"}
                         ring/ring-core {:mvn/version "1.9.6" :exclusions [clj-time/clj-time]}
                         ring-jetty-component/ring-jetty-component {:mvn/version "0.3.1" :exclusions [clj-time/clj-time]}
                         ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}
                         ring/ring-ssl {:mvn/version "0.3.0"}
                         bidi/bidi {:mvn/version "2.1.6" :exclusions [prismatic/schema]}
                         irresponsible/tentacles {:mvn/version "0.6.9"}
                         metasoarous/oz {:mvn/version "2.0.0-alpha5"}}
            :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :run
           {:main-opts ["-m" "polismath.runner"]}
           :dev-poller
           {:extra-paths ["dev" "test"]
            :extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}
            :exec-fn user/run-with-repl}
           :test
           {:extra-paths ["test"]
            :main-opts ["-m" "test-runner"]}}
 ;:jvm-opts ^:replace []
 :jvm-opts ["-Xmx4g"]}
 ;:mvn/repos {"twitter4j" {:url "https://twitter4j.org/maven2"}}}
  
